*{
    margin: 0;
    padding: 0;
}
.cursor{
    height: 100vh;
    background-color: rgb(94, 218, 218);
    background-position:center;
    background-size: cover;
    cursor: url("cursor/cursor.cur"),all-scroll;
}
#box{
    text-align: center;
    background: chartreuse;
}