*{
    margin: 0;
    padding: 0;
}

.cursor{
    height: 815vh;
    background-color: rgb(231, 202, 174);
    background-position:center;
    background-size: cover;
    cursor: url("cursor/cursor.cur"),all-scroll;
}
#box{
    text-align: center;
    background: linear-gradient(rgb(223, 150, 14),rgb(221, 152, 24),rgb(248, 163, 6));
    background-repeat: no-repeat;
    height: 130px;
    font-size: 25px;
    color: rgb(89, 89, 250);
    text-shadow: 1px 1px 1px black;
}
#caixa > a{
    float: left;
    color: white;
    padding: 10px;
    text-shadow: none;
    text-transform: none;
}
#caixa > p > a{
    color: rgb(127, 235, 224);
}
#ico{
    display: grid;
    position: absolute;
    top: -100px;
    margin: 300px;
    width: 700px;
    position: fixed;
    background: transparent;
    width: 80px;
}
#icon{
    width: 40px;
    height: 40px;
}
#Text{
    border-radius: 10px;
    border-style: solid;
    margin: 45px auto;
    width: 1000px;
    border-color:transparent;
    border-width: 10px ;
}
#Text > p{
    margin: 10px;
    color: black;
    font-style: italic;
    text-align: justify;
    text-shadow: none;
}
#img{
    width: 950px;
    height: 500px;
}