*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@font-face {
    font-family: 'Seagram';
    src: url('fonts/Seagram\ tfb.ttf') format('opentype');
}
.cursor{
    height: 300em;
    background:linear-gradient(#7dbce9,#4184c2,#3b6388);
    background-position:center;
    background-size: cover;
    cursor: url("cursor/cursor2.cur"),all-scroll;
}
#box{
    text-align: center;
    background: linear-gradient(rgb(186, 231, 233),rgb(190, 233, 235),rgb(191, 235, 236));
    /* background: linear-gradient(rgb(240, 186, 86),rgb(236, 186, 93),rgb(243, 185, 78)); */
    background-repeat: no-repeat;
    height: 235px;
    font-size: 25px;
    color: rgb(251, 255, 5);
    text-shadow: 2px 1px 2px black;
    font-family: 'Seagram';
}
#box > h1{
    font-size: 110px;
    font-family: 'Seagram';
}
#box > h3{
    font-size: 50px;
}
#caixa > a{ 
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-shadow: none;
    text-transform: unset;
    font-size: 19px;
    text-align: center;
}
#caixa > p > a{
    color: rgb(127, 235, 224);
}
#Text{
    border-radius: 10px;
    border-style: solid;
    margin: 25px auto;
    width: 1000px;
    border-color:transparent;
    border-width: 10px ;
}
#Text > p{
    margin: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: justify;
    text-shadow: none;
}
#img{
    width: 950px;
    height: 500px;
    border-color: black;
    border-style: solid;
}
#imgM{
    display: table-cell;
    float: right;
    width: 350px;
    height: 250px;
    border-color: transparent;
    border-style: solid;
}
#imgL{
    width: 700px;
    height: 500px;
    border-color: black;
    border-style: solid;
    background-image: url('img/Olimpo.jpg');
}
#TextoM{
    display: table-cell;
    float: right;
}
footer{
    border-style: solid;
    background: white;
    border-color: transparent;
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
#Éris{
    border-style: solid;
    border-bottom-left-radius:25px ;
    border-bottom-right-radius:25px ; 
    background: white;
    color: purple;
    border-color: white;
    width: 320px;
    margin: auto;
}
#Éris > img{
    border-color: black;
}
.footer{
    float: left;
}
#ico2{
    margin: auto;
    display: flex;
    padding: 10px;
    border-style: solid;
    border-radius: 50%;
    border:5px solid black;
}
#ico{

}
#icon{
    border-style: solid;
    border-color: black; 
    background: black;
}